<html>
    <head>
        <meta http-equiv="refresh" content="4">
        {% if flip.done() %}
            <title>Result={{ flip.result() }}</title>
        {% else %}
            <title>Result=?</title>
        {% endif %}
    </head>
    <body>
    <h1>Welcome to flip <i>#{{ flip.code }}</i>!</h1>
        <p>The page reloads every 4 seconds so that you can see the actual state of this flip.</p>

        <h3>
        {% if flip.done() %}
            Your result is: <i><u>{{ flip.result() }}</u></i>.
        {% else %}
            We can't flip the coin for you yet: your friend has not visited this page!<br>
            Share this link with your friend: {{ url_for('flip', code=flip.code, _external=True) }}
        {% endif %}
        </h3>
    </body>
</html>


